<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logoacad.png">
    <link rel="stylesheet" href="/css/style.css">

    <style>
        input[type=text], select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
        
        input[type=submit] {
          width: 100%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
        div {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }
        </style>

<style>
  footer {
display: flex;
justify-content: space-between;
background-color:#1987c7;
color: white;
padding: 20px;
}

.footer-column {
flex-basis: 50%;
text-align: center;
}

.footer-column h3 {
margin-top: 0;
}

.footer-column a {
display: block;
color: white;
text-decoration: none;
margin-bottom: 10px;
}

.footer-column a.active {
font-weight: bold;
}

.footer-column a:hover {
text-decoration: underline;
}

</style>

    <title>Add Some More Information About your School</title>
</head>
<body>
    <div>
        <form action="/addabout" method="post" enctype="multipart/form-data">
          <label for="heading">Heading</label>
          <input type="text" id="heading" name="heading" placeholder="About Heading" value="">
      
          <label for="lname">Body</label>
          <input type="text" id="body" name="body" placeholder="About Body" value="">
      
        
          <div class="form-group">
            <label for="image">Add Profile Image</label>
            <input
              type="file"
              id="image"
              name="image"
              class="form-control"
              value="<%= typeof image != 'undefined' ? image : '' %>"
            />
          </div>
          <input type="submit" value="Submit">
        </form>
      </div>


      <footer>
        <div class="footer-column">
  
      <a href="/adminhome" class="active">Home</a>
      <a href="/adminabout" class="active" >About</a>
      <a href="/admincontacts">Contacts</a>
      <a href="/users">Add an admin</a>
      <a href="/manage-users">Manage users</a>
      <a href="/contact-messages">Messages</a>
      <a href="/settings">Settings</a>
    </div>
  </footer>
    
</body>
</html>