<!-- Display the map with the current location -->
<div id="map"></div>

<!-- Allow the user to edit the location -->
<form action="/edit-location" method="POST">
  <input type="text" name="location" id="location-input" value="<%= location %>">
  <button type="submit">Save Location</button>
</form>



