<link rel="icon" href="/images/logoacad.png">
<style>
    form {
  background-color: #ffe6e6;
  border: 2px solid #ff8080;
  border-radius: 5px;
  padding: 10px;
}

input[type="submit"] {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

label {
  color: #ff8080;
  font-size: 18px;
}

input[type="password"] {
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #ff8080;
  font-size: 16px;
}

input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 5px #ff8080;
}

input[type="password"]:hover {
  border-color: #ff4d4d;
}

</style>



<form method="POST" action="/accountsettings/password_reset/<%= token %>">
    <div>
      <label for="password">New Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit">Reset Password</button>
  </form>
  